{% load static %}
{% block scripts %}
     
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

{% endblock scripts %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exam Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'exam-list' %}">Home</a>
        {% if  request.user.is_authenticated %}
{#            <a class="nav-link" href="{% url '' %}">Fetch SAMGOVT DATA</a>#}
{#               <form method="post" action="{% url 'logout' %}">#}
{#                  {% csrf_token %}#}
{#                  <button  type="submit" class="dropdown-item btn log">Logout</button>#}
{##}
{#            </form>#}
                <a class="nav-link" href="{% url "user_assignments" %}">Submit Assignments</a>
                <a class="nav-link" href="{% url "logout" %}">Logout</a>
        {% else %}
              <a class="nav-link active" aria-current="page" href="{%  url 'signup' %}">Sign Up</a>
        <a class="nav-link active" aria-current="page" href="{%  url 'login' %}">Login</a>
        {% endif %}


      </div>
    </div>
  </div>
</nav>