{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/exam_files.css' %}">
{% endblock scripts %}
{% block content %}
    <div class="container">
        <div class="jumbotron" id="banner">
            <div class="col-md-12">
                <p>Best Submitted  Assignment can win <span>20$</span></p>
            </div>
        
    </div>
        <div class="jumbotron">
         
                <div class="row">
                    <div class="col-md-8 border-right">
                        <div class="row">
                            <div class="col-md-9">
                                <p class="lead">{{exam_detail.exam_description}}</p>
                                <p class="lead">{{exam_detail.created_at}}</p>
                                <p class="lead">Uploaded By: </p>Junaid Iqbal
                            </div>
                            <div class="col-md-3">
                                <p class="lead">Total Time:  </p>{{exam_detail.total_time}}
                                <p class="lead mt-3"> Total Marks: </p>{{exam_detail.total_marks}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                             <a class="lead" id="link" href="{{exam_detail.exam_folder.url}}"> Download Exam Files  </a>
                             <p class="lead"> Submit your exam in zip folder with clear file name of every file.</p>
                    </div>
                </div>

        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 mb-5">
                     {% if  request.user.is_authenticated %}
                    <form action="{% url 'submit_exam' exam_detail.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                                  {{ submit_assignment | crispy  }}
                        <button type="submit" id="sbtn" class="btn btn-dark"> Submit </button>
                    </form>
                    {% endif %}

                </div>
            </div>
        </div>

{% endblock content %}
