{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
        {{exam_detail.exam_description}}
        <a href="{{exam_detail.exam_folder.url}}"> Exam Files </a>
        {{exam_detail.total_time}}
        {{exam_detail.total_marks}}


        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <form action="{% url 'submit_exam' exam_detail.id %}" method="post">
                        {% csrf_token %}
                                  {{ submit_assignment | crispy  }}
                        <button type="submit" class="btn btn-dark"> Submit </button>
                    </form>

                </div>
            </div>
        </div>

{% endblock content %}
