{% extends 'base.html' %}
{% load static %}
{% block scripts %}
      {% block title %}
          <title> Landing Page </title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/exam_type.css' %}">

{% endblock scripts %}
{% block content %}
    <div class="container">
        <div class="row c1">
             {% for exam in exam_type %}
            <div class="col-md-3">
                            <a href="{% url 'exam-detail' exam.pk %}">
                            <img src="{{ exam.image_type.url }}" class="img-fluid"><p class="text-center">{{exam.title}}</p></a>

            </div>
                    {% endfor %}
        </div>

    </div>


{% endblock content %}
