@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;

}
.jumbotron{
    margin-top: 20px;
    background-color: #AFCFFF;
}
.lead{
    color: #022457;
}