.navbar{
    background-color: #022457;
}
.navbar-nav a{
    color: white;
}
.navbar-nav a:hover{
    color: #AFCFFF;
}
.navbar-brand{
    color: #4D88DF;
}
button{
    background-color: #4D88DF!important;
}
.navbar-toggler-icon{
    color: #022457!important;
    background-color: #022457;
}