.row{
    margin-top: 40px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 3px;
    border: 1px solid rgb(137, 167, 242);
    
}
.lead{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #022457;
}
a:hover{
    text-decoration: none;
}
img{
    height: 200px!important;
    width: 100%!important;
}